*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, Times, "Times New Roman";
  line-height: 1.6;
  min-height: 100vh;
  color: #222;
  background-color: #f7f4ed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

p {
  font-size: var(--fs-base);
}

img,
svg {
  width: 100%;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #242424;
  z-index: 50;
  height: 75px;
  background-color: #f7f4ed;
  display: flex;
  justify-content: center;
}

.container {
  flex: 1;
  max-width: 1192px;
  margin: 0 64px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.logo {
  max-width: 110px;
}

.logo svg {
  height: unset;
}

nav {
  display: flex;
  gap: 2rem;
}

ul {
  list-style: none;
  gap: 1rem;
  display: flex;
  align-items: center;
}

nav ul {
  gap: 2rem;
}

p,
ul {
  font-family: "Helvetica Nue", Helvetica, sans-serif;
}

p {
  font-size: 22px;
}

ul li {
  color: #242424;
  font-size: 12px;
}

.cta-btn-div {
  height: auto;
}

.cta-btn {
  background-color: #242424;
  color: #fff;
  border-radius: 5em;
}

.cta-btn.one {
  padding: 0.8em 1.5em;
}

.cta-btn.two {
  padding: 0.5em 2em;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

main {
  margin-top: 75px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

main .container {
  margin-top: 75px;
  margin-bottom: 20px;
  flex: 1 1 1000px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: 7rem;
  line-height: 0.9;
  font-weight: 500;
  width: 720px;
  flex: 0 1 0%;
  letter-spacing: -0.02em;
}

.img-div {
  width: 460px;
  height: auto;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -460px;
  transform: translateY(-46%);
}

.img-div img {
  height: inherit;
}

/* footer */

footer {
  border-top: 1px solid #242424;
}

footer .container {
  margin: 0 auto;
  max-width: 700px;
  height: auto;
}
footer ul {
  padding: 24px 0;
  height: inherit;
}

footer ul li {
  font-size: 12px;
  color: #242424ab;
}

/* Overlay */
.overlay {
  visibility: hidden;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 60;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay.active {
  opacity: 1;
  display: flex;
  visibility: visible;
}

.overlay-inner-div {
  flex: 1;
  padding: 0 1.5rem;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 3px;
  transform: scale(0.5);
  transition: transform 0.3s cubic-bezier(0.25, 1.25, 0.5, 1), opacity 0.6s ease;
  transform-origin: center center;
  opacity: 0;
}

.overlay-inner-div > .content {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.overlay.active .overlay-inner-div {
  transform: scale(1);
  opacity: 1;
}

.overlay-inner-div > .content h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.social-login-div {
  padding: 1rem;
}

.social-login-div button {
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  border-radius: 2em;
  font-size: 1rem;
  border: 1px solid #242424;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.social-login-div button span {
  width: 30px;
  height: 30px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
  display: inline-block;
  z-index: 70;
  color: #2424249f;
}

.social-login-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-login-div .svg-div {
  width: 20px;
}

.social-login-div p {
  font-size: 14px;
}

.social-login-div p a {
  text-decoration: underline;
}

.overlay-inner-div small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
}
.overlay-inner-div small a {
  text-decoration: underline;
}

/* ---Login with email overlay--- */
.email-signup {
  gap: 2rem;
}
.email-logo {
  width: 48px;
}

.email-signup .form-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 65%;
}

.email-signup form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.8rem;
}

.email-signup label {
  font-size: 0.875rem;
  text-align: left;
}

.email-signup input {
  margin-top: 0.2em;
  font-size: 0.75rem;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  background-color: #eeeded;
  transition: all 0.3s ease;
}

.email-signup input:focus {
  outline: 1px solid #242424;
  background-color: #fafafa;
}

.email-signup button {
  color: #fff;
  background-color: #0f0f0f;
  align-self: center;
  padding: 0.8em 1.5em;
  border-radius: 10em;
}

.form-div p:first-of-type,
.form-div p:last-child {
  font-size: 1rem;
  font-size: 0.875rem;
}

.form-div p:first-of-type {
  text-decoration: underline;
}

.form-div p:last-child a {
  text-decoration: underline;
}

.small-div {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
.small-div small {
  color: #838383;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1240px) {
  body {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .img-div {
    margin-left: calc(-460px - (100vw - 1240px));
  }
}

@media screen and (max-width: 903px) {
  .title {
    font-size: 6.5rem;
  }

  .img-div {
    visibility: hidden;
  }

  .overlay {
    align-items: stretch;
  }

  .overlay-inner-div {
    max-width: 580px;
    justify-content: center;
  }

  .cta-btn.two {
    background-color: #1a8917;
  }

  footer {
    background-color: #242424;
  }

  footer .container {
    margin: 0 0 0 64px;
  }

  footer ul li {
    color: #fff;
  }

  footer ul .about {
    order: 1;
  }

  footer ul .help {
    order: 2;
  }

  footer ul .terms {
    order: 3;
  }
  footer ul .privacy {
    order: 4;
  }

  footer ul li:not(.about, .help, .terms, .privacy) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .title {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  nav ul li:not(:last-of-type) {
    display: none;
  }

  .container,
  footer .container {
    margin: 0 2rem;
  }
  .title {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 728px) {
  .overlay-inner-div {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  nav ul li {
    display: none;
  }
}
